* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Overpass", sans-serif;
}

.completed-state {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 25%, 15%);
  width: 440px;
  height: auto;
  border-radius: 25px;
  margin: auto;
  padding: 2rem;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#result {
  color: hsl(25, 97%, 53%);
  background-color: hsl(212, 15%, 19%);
  padding: 0.5rem 1rem;
 border-radius: 10rem;
 text-align: center;
}


#feedback-text {
  font-size: 15px;
  color: hsl(215, 6%, 62%);
  font-weight: 600;
  text-align: center;
}

@media (max-width: 375px) {
  body {
    padding: 3rem;
  }

  
}