* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Overpass", sans-serif;
}

.initial-state {
  background-color: hsl(212, 25%, 15%);
  width: 440px;
  height: auto;
  border-radius: 25px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-container {
  width: 3rem;
  height: 3rem;
  background-color: hsl(212, 12%, 22%);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-state p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

.rating-container {
  display: flex;
  justify-content: space-around;
}

.selected {
  display: none;
  color: white;
  background-color: hsl(216, 12%, 54%);
  width: 2rem;
  height: 2rem;
  font-weight: 600;
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rating-value1, .rating-value2, .rating-value3, .rating-value4, .rating-value5
 {
  display: block;
  width: 2rem;
  height: 2rem;
  color: hsl(216, 12%, 54%);
  font-weight: 600;
  background-color: hsl(212, 12%, 22%);
  border-radius: 50%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rating-value1:hover,
.rating-value2:hover,
.rating-value3:hover,
.rating-value4:hover,
.rating-value5:hover
 {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(180, 10%, 88%);
}

.initial-state button {
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 10rem;
  padding: 1rem 3rem;
  font: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.2rem;
}

.initial-state button:hover {
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 10rem;
  padding: 1rem 3rem;
  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(25, 97%, 53%);
  letter-spacing: 0.2rem;
}

@media (max-width: 375px) {
  body {
    padding: 3rem;
  }

  
}